
@font-face {
  font-family: 'Play-Bold';
  src: url('Play-Bold.eot?#iefix') format('embedded-opentype'),  url('Play-Bold.woff') format('woff'), url('Play-Bold.ttf')  format('truetype'), url('Play-Bold.svg#Play-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
