/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea { margin: 0; padding: 0; border: 0; outline: 0; background: transparent; font-size: 100%; vertical-align: baseline; }

.title { font-family: Arial; font-size: 2em; color: #000; }

html, body { height: 100%; color: #000; }

body, input, textarea { font-family: Arial; }

a { color: #000; }

a:hover { text-decoration: none; }

img { border: 0; }

.b_conteiner {position: relative; min-height: 100%; margin: auto; overflow: hidden;}

.b_band { width: 960px; min-height: 400px; margin: 0 auto; border: 1px solid red; }

/* header begin */
.b_header { width: 100%; height: 250px; position: relative; border: 1px solid black; }
.b_header .logo { position: absolute; top: 20px; left: 20px; border: 1px dotted black; }

/* menu begin */
.b_menu { position: absolute; top: 20px; left: 300px; border: 1px dotted black; }
.b_menu ul { overflow: hidden; list-style: none; }
.b_menu li { float: left; padding: 0 30px 0; }

/* main begin */
.b_maincontent { min-height: 100px; border: 1px solid blue; overflow: hidden; }
.b_maincontent .b_left_sidebar { width: 700px; min-height: 200px; float: left; border: 1px dotted black; }
.b_maincontent .b_right_sidebar { min-height: 200px; margin: 0 0 0 750px; border: 1px dotted red; }

.b_clear { height: 100px; clear: both; }


.scroll-example {
	width: 960px;
	height: 300px;
	position: relative;
	margin: 50px auto;
	padding: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll-example p +p {
	margin-top: 1em;
}



.scroller {
	height: 100%;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.scroller::-webkit-scrollbar {
	width: 0;
}

.scroller__content {
	position: relative;
	padding-right: 30px;
	overflow: hidden;
}

.scroller__bar-wrapper {
	position: absolute;
	z-index: 2;
	top: 10px;
	bottom: 10px;
	right: 5px;
	width: 8px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	pointer-events: none;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	opacity: 0;
}

.scroller__bar {
	position: absolute;
	z-index: 1;
	width: 8px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.2s linear 0s;
	-moz-transition: opacity 0.2s linear 0s;
	-o-transition: opacity 0.2s linear 0s;
	transition: opacity 0.2s linear 0s;
	pointer-events: auto;
	opacity: 0;
}

.baron:hover .scroller__bar-wrapper {
	opacity: 1;
}

.baron:hover .scroller__bar {
	opacity: 1;
}